body{
    padding-top: 55px;
    background: $off-white;
    color: $black;
}

html{
    transform: rotate(0);
    transition: transform 1s ease;

}

html.prevent-scroll,
html.prevent-scroll body{
    overflow: hidden;
}
.wrapper{
    width: 90%;
    max-width: 1070px;
    margin: 2em auto;
}